html {
  overflow: hidden;
}
body{
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body, input, button {
  font-family: 'Roboto Condensed', sans-serif;
}
nav.navbar {
  padding: 0.5rem 1rem;
}
footer.footer, .bottom{
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.2rem 0.2rem;
  width: 100%;
  bottom: 0;
}
footer.bottom.footer {
  position: absolute;
  right: 0;
}
.column.principal {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-image: url('./images/heroes-bg.jpg');
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3273dcb0; 
  border-radius: 1px;
}

@media screen and (min-width: 770px){
  .col-md-1 p{
    font-size: .78rem;
  }

}



p.title{
  margin:0
}

.card figure {
  height: 350px !important;
  overflow: hidden;
}